footer {
    position: relative;
    z-index: 1;
    font-family: 'Segoe UI';
    text-align: center;
}

footer::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: hsla(184, 5%, 47%, 0.75);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

footer:hover::before {
    transform: scaleX(1);
    transform-origin: center left;
}
